<div *ngIf="!post.nextScreen" class="card mb-0">
  <div class="card-header d-flex justify-content-between align-items-start">
    <h3 *ngIf="constant.POST_TYPE.NEWS_ARTICLE === type" class="card-title text-align-center">{{edit ? 'Edit Post' : 'Create Post'}}</h3>
    <h3 *ngIf="constant.POST_TYPE.HOME_BUYING_BLOG === type" class="card-title text-align-center">{{edit ? 'Edit Blog' : 'Create Blog'}}</h3>
    <h3 *ngIf="constant.POST_TYPE.HOME_BUYING_VIDEO === type" class="card-title text-align-center">{{edit ? 'Edit Video' : 'Create Video'}}</h3>
    <h3 *ngIf="constant.POST_TYPE.HOME_BUYING_RESOURCE === type" class="card-title text-align-center">{{edit ? 'Edit Resource' : 'Create Resource'}}</h3>

    <app-icon-button [buttonClass]="'icon-simple-remove'" (buttonEvent)="close()"></app-icon-button>
  </div>
  <div class="card-body">
    <form [formGroup]="post.form">
        <div class=" form-group">
          <label> Title </label>
          <input
            formControlName="title"
            class=" form-control"
            placeholder="Add title here ..."
            type="text"
          />
        </div>
        <div class=" form-group" *ngIf="type !== constant.POST_TYPE.HOME_BUYING_VIDEO">
          <label> Description </label>
          <textarea formControlName="description" class="form-control" placeholder="What's on your mind ?" rows="10"></textarea>
        </div>
      <div class="media-files" *ngIf="post.media && post.media.length > 0">
        <ng-container *ngFor="let media of post.media; let i = index">
          <div class="file">
            <img *ngIf="media.type === constant.mediaType.IMAGE" [src]="media.url">
            <video *ngIf="media.type === constant.mediaType.VIDEO" [src]="media.url" disablepictureinpicture controlsList="nofullscreen nodownload noremoteplayback" controls></video>
            <div *ngIf="media.type === constant.mediaType.IFRAME" class="embed-responsive embed-responsive-16by9 iframe-video">
              <iframe class="embed-responsive-item" [src]="media.url | safeUrl" allowfullscreen></iframe>
            </div>
            <app-abs-icon-button class="remove-button" [buttonClass]="'icon-simple-remove'" (buttonEvent)="removeMediaFile(i)"></app-abs-icon-button>
          </div>
        </ng-container>
      </div>
      <div class=" form-group" *ngIf="type !== constant.POST_TYPE.HOME_BUYING_RESOURCE">
        <label> Media </label>
        <div class="attachments d-flex justify-content-between align-items-center" [ngClass]="{'dark-border': !(store.theme|async), 'light-border': (store.theme|async)}">
          <p class="mb-0 text-muted">Add to your post</p>
          <div class="d-flex justify-content-between post-icons">
            <app-icon-button [buttonClass]="'icon-image-02'" ></app-icon-button>
            <app-icon-button [buttonClass]="'icon-video-66'" ></app-icon-button>
            <app-icon-button (buttonEvent)="goToAddExternalLink()" [buttonClass]="'icon-link-72'" ></app-icon-button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button [disabled]="post.form.invalid" (click)="onSubmit()" class="btn btn-fill btn-primary" type="button">Save</button>
  </div>
</div>
<app-add-external-link *ngIf="post.nextScreen" (url)="addUrl($event)" (goBack)="goToCreatePost()"></app-add-external-link>
