.media-files{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
//  padding: 0 5px;
}
.media-files img{
  width: 155.2px;
  height: 100%;
  object-fit: cover;
}
.media-files video{
  width: 155.2px;
  height: 100%;
  object-fit: cover;
  border-radius: 0.2857rem;
}
.iframe-video{
  width: 155.2px;
  height: 100%;
  object-fit: cover;
  border-radius: 0.2857rem;
}
.media-files div.file{
  margin-right: 2px;
  height: 155.2px;
  margin-bottom: 2px;
  position: relative;
}
.media-files div.file:nth-child(3n){
  margin-right: 0;
}
.attachments{
  padding: 10px 15px;
  border-radius: 10px;
}
.post-icons{
  width: 100px;
}
.remove-button{
  position: absolute;
  top: 5%;
  right: 5%;
}
