<div class="content">
  <div class="d-flex justify-content-center">
    <div class="user-management">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Users</h4>
        </div>
        <div class=" card-body">
          <div class="table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Signed up at</th>
                <th>Status</th>
                <th class=" text-center">Edit</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let user of users.list; let i = index">
                <td>{{(user.firstName + ' ' + user.lastName) | titlecase}}</td>
                <td>{{user.email}}</td>
                <td>{{helper.resolveCamelCase(user.role) | titlecase}}</td>
                <td>{{user.createdAt | date}}</td>
                <td>{{helper.resolveCamelCase(user.accountStatus) | titlecase}}</td>
                <td class="td-actions text-center">
                  <app-icon-button [buttonClass]="'icon-pencil'" (buttonEvent)="edit(user, i)"></app-icon-button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
