.news-feed{
  width: 100%;
  overflow: hidden;
  padding-bottom: 40px;
}
.card:hover .kebab-button{
  opacity: 1;
  transition: opacity .4s;
}
.kebab-button{
  opacity: 0;
  transition: opacity .4s;
  z-index: 1000;
}
@media screen and (max-width: 991px){
  .dropdown-toggle:after{
    display: none;
  }
}
