/* You can add global styles to this file, and also import other style files */
:root {
  --pinkProgressBar: #e04dca
}
.d-flex{
  display: flex;
}
.align-items-center{
  align-items: center;
}
.dark-icon {
  color: #9A9A9A;
}

.dark-icon:hover {
  color: #ffffff;
}

.light-icon{
  color: rgba(34, 42, 66, 0.7);
}

.light-icon:hover {
  color: #222a42;
}
.dark-border{
  border: 1px solid;
}
.light-border{
  border: 1px solid rgba(29, 37, 59, 0.5);
}
.standard-icon-size{
  font-size: 16px !important;
}
