  <div class="content">
    <div class="d-flex justify-content-center">
      <div class="" style="width: 1000px">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a [ngClass]="{'dark-nav-tab': !(store.theme|async), 'light-nav-tab': (store.theme|async)}" ngbNavLink>
              <p class="text-muted nav-heading">Blog</p>
            </a>
            <ng-template ngbNavContent>
              <div class="mt-5">
                <app-blog [blog]="homeBuying.blog"></app-blog>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a [ngClass]="{'dark-nav-tab': !(store.theme|async), 'light-nav-tab': (store.theme|async)}" ngbNavLink>
              <p class="text-muted nav-heading">Video</p>
            </a>
            <ng-template ngbNavContent>
              <div class="mt-5">
                <app-video [videoResources]="homeBuying.videos"></app-video>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a [ngClass]="{'dark-nav-tab': !(store.theme|async), 'light-nav-tab': (store.theme|async)}" ngbNavLink>
              <p class="text-muted nav-heading">Resources</p>
            </a>
            <ng-template ngbNavContent>
              <div class="mt-5">
                <app-resources [resources]="homeBuying.resources"></app-resources>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
