.dark-nav-tab.active{
  border-bottom-color: #262a3c;
  transition: none !important;
}
.light-nav-tab.active{
  border-bottom-color: white;
  transition: none !important;
}
.nav-heading{
  font-weight: 500;
  font-size: 1.0624999875rem;
}
