.dark-nav-tab.active{
  border-bottom-color: #1e1e2f;
  transition: none !important;
}
.light-nav-tab.active{
  border-bottom-color: #f5f6fa;
  transition: none !important;
}
.nav-heading{
  font-weight: 500;
  font-size: 1.0624999875rem;
}
